:root {
    --blue: #5BC0EB;
    --yellow: #FDE74C;
    --green: #9BC53D;
    --red: #C3423F;
    --dark: #211A1E;
}

body {
    margin: 0;
    font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.dice h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    height: 190px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 150px 190px;
    line-height: 4;
}

button {
    font-size: 3em;
    padding: 0.25em;
    width: 180px;
}

.diceSection, .diceButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}