body {
    margin: 0;
    font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#rollOutput {
    font-size: 4em;
    display: block;
}

#rollButton {
    font-size: 3em;
    padding: 0.5em;
    width: 250px;
    display: block;
}